<div class="relative overflow-x-auto shadow-md sm:rounded-lg px-8 py-8" *ngIf="searchClubResults">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        ID
      </th>
      <th scope="col" class="px-6 py-3">
        Name
      </th>
      <th scope="col" class="px-6 py-3">
        Place
      </th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let club of searchClubResults" (click)="updateSelectedClub(club.id)">
      <td class="px-6 py-4">
        {{ club.id }}
      </td>
      <td class="px-6 py-4">
        {{ club.name }}
      </td>
      <td class="px-6 py-4">
        {{ club.place }}
      </td>
    </tr>
    </tbody>
  </table>
</div>
