<div class="relative overflow-x-auto shadow-md sm:rounded-lg w-full">
  <div class="pb-4 bg-white dark:bg-gray-900">
    <h2 class="font-semibold text-center text-gray-900">Competitions</h2>
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative mt-1">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
      </div>
      <input type="text" id="table-search"
             class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
             placeholder="Search for items"
             [ngModel]="searchFilter"
             (ngModelChange)="search($event)"
      >
    </div>
  </div>
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <caption class="p-5 text-lg font-semibold text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800 caption-bottom">
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Active competitions: {{ numberOfCompetitions }}.</p>
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">
        ID
      </th>
      <th scope="col" class="px-6 py-3">
        Name
      </th>
      <th scope="col" class="px-6 py-3"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600" *ngFor="let competition of competitions">
      <td class="px-6 py-4">
        {{ competition.id }}
      </td>
      <td class="px-6 py-4">
        {{ competition.name }}
      </td>
      <td class="px-6 py-4">
        <a [routerLink]="['/competitions', competition.id]" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Show</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

